html 
{
    box-sizing: border-box;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

body
{
    margin: 0;
    padding: 0;
}

/* Link defaults */
a
{
    text-decoration: none;
}

/* List defaults */
ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
li a
{
    display: block;    
}

/* Stop text selection */
.no-user-select
{
    -webkit-touch-callout: none;    
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* Flexbox defaults */
.flex-box
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/* Image overlays */
.overlay 
{
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}

/* Wrapper */
.wrapper 
{
    margin: 0 auto;
    padding-top:60px;
}

/* Navigation */
.nav 
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    line-height: 60px;
    z-index: 1000;
    white-space: nowrap;
    background: #000;

    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}
.nav a, .nav img
{
    padding: 0px 1.5vw;
    color:inherit;
}
.nav img
{ 
    height: 40px;
    vertical-align: middle;
}
.nav li
{
    color: #fff;
    border-bottom: 4px solid #000;
    transition-property: color, background, border-color; 
    transition-duration: 0.3s, 0.3s, 0.3s; 
    transition-timing-function: ease, ease, ease;
}
.nav li:not(:first-child):hover
{
    color: #fcbc3b;
    background: #e03328;
    border-color: #fcbc3b;
}
.nav li.active
{
    border-color: #fcbc3b;
    color: #fcbc3b;
}

/* banner */
.banner
{
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height:45vw;
}
.banner  > div:nth-child(1) 
{
    flex:1;
}
.banner  > div:nth-child(2) 
{
    flex:1;
}
.banner > div:nth-child(3) 
{
    flex:2;
}

.banner1
{
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.banner1 > div 
{
    flex:1;
    overflow:hidden;
}
.banner1 > div > img 
{
    width: 100%;
}

.banner2
{
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.banner2 > div 
{
    overflow:hidden;
}
.banner2  > div:nth-child(1) 
{
    flex:2;
}
.banner2 > div:nth-child(2) 
{
    flex:1;
}
.banner2 > div > img 
{
    width: 100%;
}

.banner3
{
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.banner3 > div 
{
    flex:1;
    overflow:hidden;
}
.banner3 > div > img 
{
    width: 100%;
}

/* headers */
.main-header
{
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    justify-content:center;
    background-color:#fff;
}
.header1
{
    text-align:center;
    font-size:7vw;
    color:#0083bb;

}
.header2
{
    text-align:center;
    font-size:4vw;
    font-style: italic;
    color:#fcbc3b;
}
.header3
{
    text-align:center;
    font-size:7vw;
    color: #e03328;
}

@media all and (min-width: 321px) 
{
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide */
    /*body  {background:red;}*/
}
@media all and (min-width: 481px) 
{
    /* iPadPortrait */
    /*body  {background:green;}*/
}
@media all and (min-width: 641px) 
{
    /* iPadLandscape */
    /*body  {background:blue;}*/
}
@media all and (min-width: 961px) 
{
    /* laptop */
    /*body  {background:purple;}*/
}
@media all and (min-width: 1025px) 
{
    /* laptops and desktops */
    /*body  {background:pink;}*/
}
@media all and (min-width: 1281px) 
{
    /* hi-res laptops and desktops */
    /*body  {background:brown;}*/
}
@media all and (min-width: 1601px) 
{
    /* widescreen */
    /*body  {background:indigo;}*/
}