html 
{
    box-sizing: border-box;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

body
{
    font-family: 'Open Sans', sans-serif;
    color:#666;
    margin: 0;
    padding: 0;
}

/* Stop text selection */
.no-user-select
{
    -webkit-touch-callout: none;    
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* Flexbox defaults */
.flex-box
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

/* Image overlays */
.overlay 
{
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}

/* Background images */
.bg-img
{
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition-property: opacity; 
    transition-duration: 0.5s; 
    transition-timing-function: ease-in;
}
.bg-img.loaded
{
    opacity: 1;
}

/* Wrapper */
.wrapper 
{
    margin: 0 auto;
    padding-top:8vh;
}

/* Nav */
.nav 
{
    font-size:14px;
    height: 8vh;
    line-height: 8vh;
    background: #000;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    white-space: nowrap;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: center;
}
.nav-link, .nav-icon
{
    padding: 0px 2vw;
}
.nav-link
{
    text-decoration: none;
    color:#fff;
    border-bottom: 4px solid #000;
}
.nav-link:hover
{
    color: #fcbc3b;
    background: rgba(255, 255, 255, 0.2);
    border-color: #fcbc3b;
}
.nav-icon
{
    opacity: 0.9;
}
.nav-icon:hover
{
    opacity: 1;
}
.nav-icon img
{
    height: 4vh;
    vertical-align: middle;
}

/* Header */
.header
{
    top: 0;
}

/* Footer */
.footer 
{
    bottom: 0;
}
#facebook
{
    background:#3b5998;
}
#airbnb
{
    background:#ff5a5f;
}

/* Banner */
.banner
{
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height:84vh;
}
.banner1
{
    flex:2;
}
.banner1 > div, .banner2, .banner2  > div:nth-child(1), .banner3, .banner3 > div
{
    flex:1;
}
.title
{
    font-family: 'Open Sans Condensed', sans-serif;
    justify-content:center;
    align-items:center;
}
.title > div:nth-child(1) 
{
    font-size:11vw;
    color:#0083bb;
}
.title > div:nth-child(2) 
{
    font-size:8vw;
    font-style: italic;
    color:#fcbc3b;
}
.title > div:nth-child(3) 
{
    font-size:11vw;
    color: #e03328;
}

/* Sections */
.section
{
    margin: 0 auto;
    max-width:1000px;
    padding: 8vh 0 8vh 0; 
    /*margin-top: -8vh; */
}
.section-header
{
    color:#000;
    text-align:center;
    font-family: 'Open Sans Condensed', sans-serif;
    padding:20px; 
}
.section-content
{
    font-size:18px;
    color:rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    max-width:740px;
    padding:20px;  
}
.section-banner
{
}
.section-banner > div 
{
    flex:1;
}

#house
{

}
#farm
{

}
#region
{

}

/* Landscape */
@media (orientation:landscape) 
{
    .title > div:nth-child(1), .title > div:nth-child(3), .section-header
    { 
        font-size:11vh;
    }
    .title > div:nth-child(2) 
    {
        font-size:8vh;
    }
    .title > div
    {
        padding:1vh;  
    }
    .section-banner
    {
        height:40vh;
    }
}

/* Portrait */
@media (orientation:portrait) 
{
    .title > div:nth-child(1), .title > div:nth-child(3), .section-header
    { 
        font-size:12vw;
    }
    .title > div:nth-child(2) 
    {
        font-size:9vw;
    }
    .title > div
    {
        padding:2vw;  
    }
    .section-banner
    {
        height:33vw;
    }
}

@media all and (min-width: 321px) 
{
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide */
    /*body  {background:red;}*/
}
@media all and (min-width: 481px) 
{
    /* iPadPortrait */
    /*body  {background:green;}*/
}
@media all and (min-width: 641px) 
{
    /* iPadLandscape */
    /*body  {background:blue;}*/
}
@media all and (min-width: 961px) 
{
    /* laptop */
    /*body  {background:purple;}*/
}
@media all and (min-width: 1025px) 
{
    /* laptops and desktops */
    /*body  {background:pink;}*/

    /* Banner */
    .banner
    {
        -webkit-flex-flow: row-reverse nowrap;
        flex-flow: row-reverse nowrap;
    }
    .banner1, .banner2, .banner3, .title
    {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }
    .banner2  > div:nth-child(1) 
    {
        flex:2;
    }
    .banner2  > div:nth-child(2) 
    {
        flex:1;
    }
    .title > div 
    {
        padding:0px;
    }
    .nav, .footer
    {
        font-size:16px;
    }
}
@media all and (min-width: 1281px) 
{
    /* hi-res laptops and desktops */
    /*body  {background:brown;}*/
}
@media all and (min-width: 1601px) 
{
    /* widescreen */
    /*body  {background:indigo;}*/
}