html 
{
    box-sizing: border-box;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

body
{
    margin: 0;
    padding: 0;
}


/* Flexbox defaults */
.flex-box
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

/* Prevent tap highlight */
.noselect 
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

/* Wrapper */
.wrapper 
{
    margin: 0 auto;
    padding-top:8vh;
}

/* Background images */
.bg-img
{
    /*opacity: 0;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition-property: opacity; 
    transition-duration: 0.5s; 
    transition-timing-function: ease-in;
}
.bg-img.loaded
{
    /*opacity: 1;*/
}

/* Navbars */
.nav 
{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    height: 8vh;
    background-color: #e03328;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    white-space: nowrap;
    justify-content: center;
}
.nav-link, .nav-icon
{
    justify-content: center;
    align-items:center;
}
.nav-link
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    flex:1;
    transition: 0.3s ease;
}
.nav-link:hover
{
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.1);
}
.nav-icon
{
    width:8vh;
}
.nav-icon img
{
    opacity: 0.7;
    height: 4vh;
    transition: 0.3s ease;
}
.nav-icon:hover img 
{
    opacity: 1
}
.header
{
    top: 0;
}
.footer 
{
    bottom: 0;
}

/* Icon Links */
#facebook
{
    background:#3b5998;
}
#airbnb
{
    background:#ff5a5f;
}

/* Banner */
.banner
{
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height:84vh;
}
.banner1
{
    flex:2;
}
.banner1 > div, .banner2, .banner2  > div:nth-child(1), .banner3, .banner3 > div
{
    flex:1;
}

/* Banner Title */
.title
{
    font-family: 'Open Sans Condensed', sans-serif;
    justify-content:center;
    align-items:center;
}
.title > div
{
    padding:1vw;
}
.title > div:nth-child(1) 
{
    font-size:12vw;
    color:#0083bb;
}
.title > div:nth-child(2) 
{
    font-size:9vw;
    font-style: italic;
    color:#fcbc3b;
}
.title > div:nth-child(3) 
{
    font-size:12vw;
    color: #e03328;
}

/* Slideshow modal */
.modal 
{
    z-index: 2000;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.9);
}
.modal-slide 
{
    z-index: 2001;
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    align-items:center;
    justify-content: center;
    cursor: pointer;
}
.modal-slide img 
{
    max-height: 100%;
    max-width: 100%;
}
.modal-close, .modal-prev, .modal-next 
{
    position: absolute;
    top: 0;
    align-items:center;
    cursor: pointer;
    font-size:8vh;
    padding:2vh;
    width: 10vh;
    color:#fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.modal-prev, .modal-next
{
    z-index: 2002;
    bottom:0;
} 
.modal-prev
{
    left: 0;
} 
.modal-next 
{
    right: 0;
}
.modal-close 
{
    z-index: 2003;
    justify-content: center;
    font-weight:bold;
    right: 0;
    height: 10vh;
}

/* Sections */
.section
{
    margin: 0 auto;
    max-width:1000px;
    padding: 8vh 0 8vh 0; 
}
.section-banner
{
    height:35vw;
}
.section-banner > div 
{
    flex:1;
}
.section-header
{
    font-size:12vw;
    font-family: 'Open Sans Condensed', sans-serif;
    color:#444;
    text-align:center;
    padding:20px; 
}
.section-content
{
    font-family: 'Merriweather', serif;
    font-size:18px;
    color:#666;
    line-height: 30px;
    margin: 0 auto;
    max-width:760px;
    padding:20px;  
}
#house
{

}
#farm
{

}
#region
{

}

/* Responsive Design */
@media (orientation:landscape) /* Landscape */
{
    .title > div:nth-child(1), .title > div:nth-child(3), .section-header
    { 
        font-size:6vw;
    }
    .title > div:nth-child(2) 
    {
        font-size:4vw;
    }
    .title > div
    {
        padding:1vw;
    }
    .banner
    {
        -webkit-flex-flow: row-reverse nowrap;
        flex-flow: row-reverse nowrap;
    }
    .banner1, .banner2, .banner3, .title
    {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }
    .banner2  > div:nth-child(1) 
    {
        flex:2;
    }
    .banner2  > div:nth-child(2) 
    {
        flex:1;
    }
    .nav-link
    {
        flex:0;
        padding: 0px 2vw;
    }
}
@media (orientation:portrait) /* Portrait */
{
    
}
@media all and (max-width: 768px) /* Laptop - 1024px */
{

}
@media all and (max-width: 320px) /* Mobile S - 320px */
{

}
@media all and (min-width: 321px) /* Mobile M - 375px */
{

}
@media all and (min-width: 376px) /* Mobile L - 425px */
{

}
@media all and (min-width: 426px) /* Tablet - 768px */
{

}
@media all and (min-width: 769px) /* Laptop - 1024px */
{

}
@media all and (min-width: 1025px) /* Laptop L - 1440px  */
{

}
@media all and (min-width: 1441px) /* 4k */
{

}