html 
{
    box-sizing: border-box;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-size:1rem;
    margin: 0;
    padding: 0;
}

/* Flexbox defaults */
.flex-box
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

/* Prevent tap highlight */
.no-select 
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* Wrapper */
.wrapper 
{
    margin: 0 auto;
}

/* Centered background images */
.bg-img
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color:  rgba(150,150,150,0.1);
}

/* Navbars */
.nav 
{
    height: 8vh;
    background-color: #e03328;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    white-space: nowrap;
    justify-content: center;
}
.nav-margin
{
    min-height:2rem;
    height: 8vh;
}
.nav-link, .nav-icon
{
    justify-content: center;
    align-items:center;
}
.nav-link
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    flex: 1;
    padding: 0px 2vw;
}
.nav-link:hover
{
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.1);
}
.nav-icon
{
    flex:0 0 8vh;
    padding:2vh;
}
.nav-icon img
{
    opacity: 0.7;
    max-height: 100%;
    max-width: 100%;
    min-height:1rem;
    min-width:1rem;
}
.nav-icon:hover img 
{
    opacity: 1
}
.header
{
    top: 0;
}
.footer 
{
    bottom: 0;
}

/* Icon Links */
#facebook
{
    background:#3b5998;
}
#airbnb
{
    background:#ff5a5f;
}

/* Banner */
.banner
{
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height:84vh;
}
.banner1
{
    flex:2;
}
.banner1 > div, .banner2, .banner2  > div:nth-child(1), .banner3, .banner3 > div
{
    flex:1;
}

/* Banner Title */
.title
{
    font-family: 'Open Sans Condensed', sans-serif;
    justify-content:space-around;
    align-items:center;
}
.title > div
{
    font-size:11vw;
}
.title > div:nth-child(1) 
{
    color:#0083bb;
}
.title > div:nth-child(2) 
{
    font-style: italic;
    color:#fcbc3b;
}
.title > div:nth-child(3) 
{
    color: #e03328;
}

/* Sections */
.content > div:nth-child(odd)
{
    background-color: #f9f9f9;
}
.section
{
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin: 0 auto;
    max-width:1000px;
    padding: 8vh 0; 
}
.section-content
{
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.section-header
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:12vw;
    margin:10px;
    color:#444;
    text-align:center;
}
.section-images 
{
    margin:5px;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.section-images .bg-img 
{
    flex:1;
    margin:5px;
}
.section-info
{   
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    justify-content:center;
    margin:10px;
}
.section-info > div
{   
    margin:10px 0px;
    text-align: justify;
    line-height:1.8rem;
}

/* images */
.img-l
{
    height:300px;
}
.img-m
{
    height:220px;
}
.img-s
{
    height:160px;
}

/* Slideshow modal */
.modal 
{
    visibility: hidden;
    opacity: 0;
    pointer-events:none;
    z-index: 2000;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.9);
    transition: opacity 0.3s;
}
.modal-active
{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.modal-slide 
{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    align-items:center;
    justify-content: center;
}
.modal-slide-active
{
    visibility: visible;
}
.modal-slide img 
{
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}
.modal-text 
{
    position: absolute;
    bottom: 0;
    align-items:center;
    justify-content: center;
    color:#fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    padding:1rem;
}
.modal-close, .modal-prev, .modal-next 
{
    position: absolute;
    top: 0;
    align-items:center;
    justify-content: center;
    color:#fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    opacity:0.5;
    cursor: pointer;
    padding:1rem;
    width: 10vh;
}
.modal-close:hover, .modal-prev:hover, .modal-next:hover 
{
    opacity:1;
}
.modal-prev, .modal-next
{
    font-size:3rem;
    bottom:0;
} 
.modal-prev
{
    left: 0;
} 
.modal-next 
{
    right: 0;
}
.modal-close 
{
    font-size:4rem;
    right: 0;
}

/* calendar */
.calendar
{
    height:400px;
    border-width:0px;
}

/* Responsive Design - Default css styles are portrait first */

/* Landscape */
@media (orientation:landscape)
{
    /* Navbar */
    .nav-link
    {
        flex: 0 0 auto;
    }

    /* Banner */
    .banner
    {
        -webkit-flex-flow: row-reverse nowrap;
        flex-flow: row-reverse nowrap;
    }
    .banner1, .banner2, .banner3
    {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }
    .banner2  > div:nth-child(1) 
    {
        flex:2;
    }
    .banner2  > div:nth-child(2) 
    {
        flex:1;
    }

    /* Banner Title */
    .title
    {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }
    .title > div 
    {
        font-size:9vh;
    }

    /* Section */
    .content > div:nth-child(even) .section-content
    {
        order: 2;
    }
    .section
    {
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
    .section-header
    {
        font-size:9vh;
    }
    .section-content, .section-images, .section-info
    {
        flex:1;  
    }
}

/* Cope with very small screens */

/* Height < 400px - the calculation to get the browser height below which the navbar is less than 2rem is (100vh / 8vh) * 32px(2rem) = 400px */
@media (max-height: 400px)
{
    .nav 
    {
        height:2rem;
    }
    .banner 
    {
        height:calc(100vh - 4rem);
    }
}
/* Landscape and height < 320px */
@media (orientation:landscape) and (max-height: 319px)
{
    /* Banner */
    .banner
    {
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

    /* Banner Title */
    .title > div 
    {
        font-size:calc((100vh - 4rem) / 5);
    }
}
/* Portrait and width < 320px */
@media (orientation:portrait) and (max-width: 319px)
{
    /* Banner */
    .banner
    {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }

    /* Banner Title */
    .title
    {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }

    /* Banner Title */
    .title > div 
    {
        font-size:calc(((100vh - 4rem) / 2) / 5);
    }
}
/* Landscape and height < 320px or Portrait and width < 320px */
@media (orientation:landscape) and (max-height: 319px), (orientation:portrait) and (max-width: 319px)
{
    /* Banner */
    .banner1, .banner2
    {
        flex:1;
    }
    .banner2  > div:nth-child(2) 
    {
        flex:0;
    }
    .banner3
    {
        flex:0;
    }
}

/* Widths used in chrome dev tools */
@media all and (max-width: 320px) /* Mobile S - 320px */
{

}
@media all and (min-width: 321px) /* Mobile M - 375px */
{

}
@media all and (min-width: 376px) /* Mobile L - 425px */
{

}
@media all and (min-width: 426px) /* Tablet - 768px */
{

}
@media all and (min-width: 769px) /* Laptop - 1024px */
{

}
@media all and (min-width: 1025px) /* Laptop L - 1440px  */
{

}
@media all and (min-width: 1441px) /* 4k */
{

}